:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Занимает всю высоту экрана */
  margin: 0;
  background-color: #222; /* Цвет фона, можешь поменять */
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* Календарь */
.react-calendar {
  background-color: #333 !important;  /* Темный фон для календаря */
  color: white !important;  /* Белый цвет для всех дат */
  border-radius: 10px;  /* Скругленные углы */
  border: none;  /* Убираем обводку */
  padding: 10px;
}

/* Стиль для всех дат */
.react-calendar__tile {
  color: white !important;  /* Белый цвет для всех дат */
}

/* Стиль для активной даты */
.react-calendar__tile--active {
  background-color: #4CAF50 !important;  /* Более яркий зеленый для активных дат */
  color: white !important;
}

/* Стиль для дней с приёмами */
.highlight {
  background-color: #ff5733 !important;  /* Яркий оранжевый фон для дней с приёмами */
  color: white !important;
}

/* Цвет выходных */
.react-calendar__month-view__days__day--weekend {
  color: red !important;  /* Цвет выходных */
}

/* Выделение текущего дня */
.react-calendar__tile--now {
  background-color: #ff9800 !important;  /* Оранжевый для текущего дня */
  color: white !important;
}
